

.bg-img {
    background-image: url('./../../../assets/img/fondo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.title {
    padding-top: 2rem;
    font-size: 2rem;
    color: #fff;
    p {
        margin: 0;
    }
}

.organization {
    margin: auto;
    position: relative;
    padding: 2rem 0 1.5rem;
    &:before {
        content: '';
        border: 3px solid cyan;
        border-radius: 50%;
        height: calc(100% - 4rem);
        z-index: 2;
        position: absolute;
        left: calc(100% / 3.25);
        width: 27rem;
        top: 2.8rem;
        height: 27rem;
    }
    .block-faith,
    .block-perseverance,
    .block-patience,
    .block-miracle {
        display: flex;
        justify-content: center;
        span {
            color: cyan;
            font-weight: 400;
        }
        .box-members {
            margin: 0 1rem;
            .img {
                margin: .5rem;
                z-index: 2;
                img {
                    height: 3.2rem;
                    background: #fff;
                }
            }
        }
    }
    .block-perseverance {
        &:before {
            content: '';
            border: 3px solid cyan;
            border-radius: 50%;
            z-index: 2;
            position: absolute;
            left: calc(100% / 2.6);
            width: 16rem;
            top: 8.5rem;
            height: 16rem;
        }
        span {
            z-index: 2;
            padding: .3rem 0;
            background: #343130;
        }
        .box-members {
            .img {
                z-index: 3;
            }
        }
    }
    .block-patience {
        span {
            z-index: 3;
            padding: .3rem 0;
            background: #343130;
        }
        .box-members {
            margin: 0 2rem;
        }
    }
}

.cita-text {
    text-align: right;
    color: #fff;
}

.logo {
    padding: 1rem 0 2rem;
    img {
        height: 3rem;
    }
}
