<!-- IMG -->
<div class="bg-img">
  <div class="container">
    <div class="title d-flex flex-column">
      <span class="fw-400">CÍRCULO DE</span>
      <p>
        <span class="fw-500">ECONOMÍA</span>
        <span class="fw-500 light-calipso"> COLABORATIVA</span>
      </p>
    </div>
    <div class="organization d-flex flex-column">
      <div class="block-faith d-flex align-items-center justify-content-center">
        <span>FÉ</span>
        <div class="box-members d-flex">
          <div class="img faith d-flex flex-column" *ngFor="let person of membersFaith; let i = index;" [ngClass]="{'d-none': i > 3}">
            <img src="{{person.url}}" alt="">
          </div>
        </div>
        <span>FÉ</span>
      </div>
      <div class="block-perseverance d-flex align-items-center justify-content-center">
        <span>PERSEVERANCIA</span>
        <div class="box-members d-flex">
          <div class="img faith d-flex flex-column" *ngFor="let person of membersPerseverance; let i = index;" [ngClass]="{'d-none': i > 1}">
            <img src="{{person.url}}" alt="">
          </div>
        </div>
        <span>PERSEVERANCIA</span>
      </div>
      <div class="block-patience d-flex align-items-center justify-content-center">
        <span>PACIENCIA</span>
        <div class="box-members d-flex">
          <div class="img faith d-flex flex-column" *ngFor="let person of membersPatience; let i = index;" [ngClass]="{'d-none': i > 0}">
            <img src="{{person.url}}" alt="">
          </div>
        </div>
        <span>PACIENCIA</span>
      </div>
      <div class="block-miracle d-flex align-items-center justify-content-center">
        <span>MILAGRO</span>
        <div class="box-members d-flex">
          <div class="img faith d-flex flex-column" *ngFor="let person of membersMiracle; let i = index;">
            <img src="{{person.url}}" alt="">
          </div>
        </div>
        <span>MILAGRO</span>
      </div>
      <div class="block-patience d-flex align-items-center justify-content-center">
        <span>PACIENCIA</span>
        <div class="box-members d-flex">
          <div class="img faith d-flex flex-column" *ngFor="let person of membersPatience; let i = index;" [ngClass]="{'d-none': i < 1}">
            <img src="{{person.url}}" alt="">
          </div>
        </div>
        <span>PACIENCIA</span>
      </div>
      <div class="block-perseverance d-flex align-items-center justify-content-center">
        <span>PERSEVERANCIA</span>
        <div class="box-members d-flex">
          <div class="img faith d-flex flex-column" *ngFor="let person of membersPerseverance; let i = index;" [ngClass]="{'d-none': i < 2}">
            <img src="{{person.url}}" alt="">
          </div>
        </div>
        <span>PERSEVERANCIA</span>
      </div>
      <div class="block-faith d-flex align-items-center justify-content-center">
        <span>FÉ</span>
        <div class="box-members d-flex">
          <div class="img faith d-flex flex-column" *ngFor="let person of membersFaith; let i = index;" [ngClass]="{'d-none': i < 4}">
            <img src="{{person.url}}" alt="">
          </div>
        </div>
        <span>FÉ</span>
      </div>
    </div>
    <div class="cita-text">
      <span>"DA EL PRIMER PASO CON FÉ, TENGA PACIENCIA <br> SEA PERSEVERANTE EN SU CAMINAR <br> Y EL MILAGRO DE CUMPLIRÁ"</span>
    </div>
    <div class="logo d-flex justify-content-end">
      <img src="logo.jpg" alt="">
    </div>
  </div>
</div>
